.swiper {
  .swiper-slide {
    a {
      font-size: 16px;
      color: #000;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    opacity: 0.5;
    width: 30px;
    height: 30px;
    &.swiper-button-disabled {
      display: none;
    }
    &:hover {
      opacity: 1;
    }
    &::after {
      font-size: 30px;
    }
  }
  .swiper-pagination {
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #fff;
    }
  }
}

// 메인 슬라이더 
.visualSlider {
  min-width: auto;
  position: relative;
  padding-bottom: 34.5%;
  box-sizing: border-box;
  > div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .swiper {
    height: 100%;
    overflow: visible;
    .swiper-slide {
      display: inline-flex;
      position: relative;
      vertical-align: top;
      background-color: #ffdada;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
    }
    .swiper-button-prev {
      left: -40px;
    }
    .swiper-button-next {
      right: -40px;
    }
    .swiper-pagination {
      bottom: 20px;
      text-align: right;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
}

// 일반 슬라이더
.normalSlider {
}

// 카테고리 슬라이더
.cateSlider {
  margin-top: 80px;
  min-width: auto;
  position: relative;
  padding-bottom: 80px;
  box-sizing: border-box;
  > div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .swiper {
    overflow: visible;
    height: 100%;
    .swiper-slide {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-color: #262626;
      a {
        color: #fff;
      }
    }
    .swiper-button-prev {
      left: -40px;
    }
    .swiper-button-next {
      right: -40px;
    }
    .swiper-pagination {
      bottom: 0;
      top: -20px;
      text-align: right;
      .swiper-pagination-bullet {
        background: #fff;
      }
    }
  }
}

// 순위 슬라이더 
.rankSlider {
  margin-top: 20px;
  min-width: auto;
  position: relative;
  padding-bottom: 80px;
  box-sizing: border-box;
  > div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .swiper {
    overflow: visible;
    height: 100%;
    .swiper-slide {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-color: #262626;
      a {
        color: #fff;
      }
    }
    .swiper-button-prev {
      left: -40px;
    }
    .swiper-button-next {
      right: -40px;
    }
    .swiper-pagination {
      bottom: 0;
      top: -30px;
      text-align: right;
      .swiper-pagination-bullet {
        background: #fff;
      }
    }
  }
}

.eventSlider {
}
