* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
button {
  background: white;
  border: 0 none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.main {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  border: 1px solid #333;
  padding: 20px;

  h1 {
    text-align: center;
  }
}

[class*="wrap"] {
  margin-top: 10px;
  padding-top: 30px;
  border-top: 1px solid #ddd;
}

.form-wrap {
  display: flex;
  gap: 15px;
  input {
    flex: 1;
  }
}
.top-wrap {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    gap: 15px;
    li button {
      &.active {
        color: red;
      }
    }
  }
}

.todo-wrap {
  display: flex;
  flex-direction: column;
  .no-data {
    text-align: center;
  }
  ul {
    display: flex;
    width: 100%;
    li {
      display: flex;
      width: 100%;
      gap: 10px;
      label {
        flex: 1 0 auto;
      }
      button {
        &.modify {
          color: blue;
        }
        &.delete {
          color: red;
        }
      }
      .todo-modify {
        display: none;
      }
    }
  }
}
